body {
    font-family: 'Open Sans Condensed';
    padding: 25px 65px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}